{% extends "layout.html" %}

{% block body %}

	<div class="jumbotron jumbotron-fluid home">
		<div class="container home">
                <h1 class="display-4 home"><strong>Artiklar</strong></h1>
                <style>@import url('https://fonts.googleapis.com/css?family=Lobster');</style>
		</div>
	</div>
	<main>
		<section class="container-fluid">
			<div class="container container-smaller">
				<div class="row home">
					{% for article in articles %}
							<div>
								<h1><a href="/artikel/{{ article[0] }}">{{ article[1] }}</a></h1>
								<style>@import url('https://fonts.googleapis.com/css?family=Lobster');</style>
								<h3>{{ article[2] }}</h3>
								<p>{{ article[3] }}</p>
							</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</main>

{% endblock %}
