{% extends "layout.html" %}

{% block body %}

	<div class="jumbotron jumbotron-fluid home">
		<div class="container home">
			<h1 class="display-4 home">{{ journalist_info.namn }}</h1>
			<style>@import url('https://fonts.googleapis.com/css?family=Lobster');</style>
			{% if session.logged_in %}
				<h4>{{ journalist_info.p_nr }}</h4>
				<h4>Beskrivning: {{ journalist_info.anteckning }}</h4>
			{% endif %}
			<img src={{ journalist_info.kontaktbild }} alt="Bild på anställd">
			<h3>E-mail: {{ journalist_info.email }}</h3>
			<h3>Telefon: {{ journalist_info.telefon }}</h3>
		</div>
	</div>
	<main>
		<section class="container-fluid">
			<div class="container container-smaller">
				<div class="row home">
					<!-- Tom div tills vidare. -->
				</div>
			</div>
		</section>
		<section class="container-fluid lighter-gray">
			<div class="container container-smaller">
				<a href="/">Tillbaka till startsidan</a>
			</div>
		</section>
	</main>

{% endblock %}
